# 지역별 코로나 현황

In [1]:
from selenium import webdriver

driver = webdriver.Chrome('C:/playwithdata/chromedriver.exe')

In [2]:
url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%EC%BD%94%EB%A1%9C%EB%82%98+%ED%98%84%ED%99%A9'
driver.get(url)

In [3]:
from bs4 import BeautifulSoup

# 코로나 현황 페이지에서 지역별 표 클릭해서 데이터 가져오기

In [4]:
data1 = driver.find_elements_by_css_selector('div > div:nth-child(4) > div > div.info_top > div > div > div > ul > li:nth-child(2) > a > span')

data1[0].click()

In [5]:
html1 = driver.page_source
soup1 = BeautifulSoup(html1,'html.parser')

In [6]:
# 지역별 표가 있는 곳으로 접근해서 data1에 저장하기 
data1_table = soup1.select('#_cs_production_type > div > div:nth-child(4) > div > div:nth-child(3) >\
                     div:nth-child(1) > div > table > tbody')

In [7]:
name = [] #지역 리스트 
city_total = [] #누적확진자 리스트
city_new = [] # 신규확진자 리스트

In [9]:
for data in data1_table : 
    for i, a in enumerate(data.select('span')):
        if i % 3 == 0:
            name.append(a.text.strip())
        elif i % 3 == 1 : 
            city_total.append(a.text.strip())
        elif i % 3 == 2 : 
            city_new.append(a.text.strip())

In [10]:
print(name)
print(city_total)
print(city_new)

['서울', '경기', '대구', '인천', '부산', '경남', '경북', '충남']
['76,814', '68,671', '13,287', '11,406', '11,077', '9,683', '6,866', '6,639']
['569', '513', '95', '102', '78', '68', '64', '92']

# 2페이지로 넘어가기

In [11]:
data2 = driver.find_elements_by_css_selector('div > div:nth-child(4) > div > div:nth-child(3) > div.csp_paging_area._page_root > div > div > a.csp_pg_next._next.on')

data2[0].click()

In [12]:
data2_table = soup1.select('#_cs_production_type > div > div:nth-child(4) > div > div:nth-child(3) > div:nth-child(2) > div > table > tbody')

In [13]:
for data in data2_table : 
    for i, a in enumerate(data.select('span')):
        if i % 3 == 0:
            name.append(a.text.strip())
        elif i % 3 == 1 : 
            city_total.append(a.text.strip())
        elif i % 3 == 2 : 
            city_new.append(a.text.strip())

print(name)
print(city_total)
print(city_new)

['서울', '경기', '대구', '인천', '부산', '경남', '경북', '충남', '검역', '대전', '강원', '충북', '울산', '광주', '전북', '제주']
['76,814', '68,671', '13,287', '11,406', '11,077', '9,683', '6,866', '6,639', '5,761', '5,463', '5,268', '4,991', '4,037', '3,948', '3,441', '2,524']
['569', '513', '95', '102', '78', '68', '64', '92', '23', '50', '26', '38', '40', '28', '45', '30']

# 3페이지로 넘어가기

In [14]:
data3 = driver.find_elements_by_css_selector('div > div:nth-child(4) > div > div:nth-child(3) > div.csp_paging_area._page_root > div > div > a.csp_pg_next._next.on')

data3[0].click()

In [15]:
data3_table = soup1.select('#_cs_production_type > div > div:nth-child(4) > div > div:nth-child(3) > div:nth-child(3) > div > table > tbody')

for data in data3_table : 
    for i, a in enumerate(data.select('span')):
        if i % 3 == 0:
            name.append(a.text.strip())
        elif i % 3 == 1 : 
            city_total.append(a.text.strip())
        elif i % 3 == 2 : 
            city_new.append(a.text.strip())

print(name)
print(city_total)
print(city_new)

['서울', '경기', '대구', '인천', '부산', '경남', '경북', '충남', '검역', '대전', '강원', '충북', '울산', '광주', '전북', '제주', '전남', '세종']
['76,814', '68,671', '13,287', '11,406', '11,077', '9,683', '6,866', '6,639', '5,761', '5,463', '5,268', '4,991', '4,037', '3,948', '3,441', '2,524', '2,487', '954']
['569', '513', '95', '102', '78', '68', '64', '92', '23', '50', '26', '38', '40', '28', '45', '30', '8', '10']

# DF로 만들어서 엑셀에 저장하기

In [16]:
dic = {
    '지역' : name,
    '누적확진자' : city_total,
    '신규확진자' : city_new
}

In [17]:
import pandas as pd

In [18]:
df1 = pd.DataFrame(dic)

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      18 non-null     object
 1   누적확진자   18 non-null     object
 2   신규확진자   18 non-null     object
dtypes: object(3)
memory usage: 560.0+ bytes

In [20]:
for i in range(len(df1['누적확진자'])):
    df1['누적확진자'][i] = df1['누적확진자'][i].replace(',','')

In [21]:
df1

    지역  누적확진자 신규확진자
0   서울  76814   569
1   경기  68671   513
2   대구  13287    95
3   인천  11406   102
4   부산  11077    78
5   경남   9683    68
6   경북   6866    64
7   충남   6639    92
8   검역   5761    23
9   대전   5463    50
10  강원   5268    26
11  충북   4991    38
12  울산   4037    40
13  광주   3948    28
14  전북   3441    45
15  제주   2524    30
16  전남   2487     8
17  세종    954    10

In [22]:
df1.to_excel('./making/covid_city.xlsx', index = False)

# DF를 데이터 베이스에 저장하기

In [23]:
import pymysql

conn = pymysql.connect(host= '127.0.0.1', 
                        user = 'root', 
                        password='1234', 
                        db = 'project1', 
                        port=3307, 
                        charset='utf8')

cur = conn.cursor()

In [24]:
cur.execute("CREATE TABLE IF NOT EXISTS covid_city (region char(8), allcases int, newcases int)")

sql = 'insert into covid_city (region, allcases, newcases) values(%s, %s, %s)'

for idx in range(len(df1)):
	cur.execute(sql, tuple(df1.values[idx]))
        
conn.commit()

conn.close()